
#maincontainer {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    /*grid-template-rows: 1fr 2fr 2fr 2fr;*/
}

#header {
    display: grid;
    background-color: grey;
    color: white;
    border: red solid 2px;
    grid-column: 2 / 6;
    grid-row: 1 / 2;
}

#sidebar {
    display: grid;
    border: red solid 2px;
    background-color: aquamarine;
    color: brown;
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    padding-top: 1rem;
    
}

#mainContent {
    grid-column: 2 / 5;
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-template-rows: 1fr 1fr;
    
}

#yourProjects {
    display: grid;
    border: red solid 2px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-row: 1;
    grid-column: 1 / 2;
    gap: 20px;
}

.projectSheet {
    display: grid;
    height: 200px;
    border: red solid 2px;
}

#announcements {
    display: grid;
    grid-column: 2 / 3;
    
}

#footer {
    display: grid;
}