* {
    margin: 0;
}


#maincontainer {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    /*grid-template-rows: 1fr 1fr 2fr 2fr;*/
}

#header {
    display: grid;
    background-color: #d37676;
    color: white;
    grid-column: 2 / 6;
    grid-row: 1 / 2;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    
}

#headerContent {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#topnav {
    margin-bottom: 10px;
    grid-column: 1;
    grid-row: 1;
}

#profileFront {
    grid-column: 1;
    grid-row: 2;
    display: flex;
}

#profileIconFront {
    margin-right: 10px;
}

#frontName {
    font-size: 25px;
}

#topButtons {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 50px;
    
    
    
}

#topB > button {
    border-radius: 50px;
    margin-left: 20px;
    width: 100px;
    height: 30px;
    background-color: #884b4b;
    color: azure;
}

#leftProfile {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-content: right;
    margin-right: 50px;
}

#sidebar {
    display: grid;
    background-color: #FFD1D1;
    color: #884b4b;
    grid-column: 1;
    grid-row: 1 / 3;
    padding-top: 1rem;
    grid-template-rows: auto;
    
}

#dashTitle {
    margin-left: 40px;
    margin-top: 15px;
}

.listItems {
    padding: 10px;
   
}

ul {
    margin: 10px 0;
}


#mainContent {
    grid-column: 2 / 6;
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    background-color: #FFE3E1;
    
}

#yourProjects {
    display: grid;
    
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-row: 1;
    grid-column: 1 / 2;
    gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
    
}

.projectSheet {
    height: 200px;
    background-color: #FFF5E4;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.projectTitle {
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 10px;
}

.textbody {
    margin-left: 20px;
    height: 140px;
}

.projectIcons {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
    
}

#rightSide {
    margin-top: 10px;
    display: grid;
    grid-column: 2;
    
}

#announcementslogo {
    grid-row: 1;
    
}

#announcementsSheet {
    margin-top: 10px;
    margin-right: 8px;
    background-color: #FFF5E4;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    
}

#trendingLogo {
    grid-row: 2;
    
}

#TrenderS {
    margin-top: 10px;
    margin-right: 8px;
    background-color: #FFF5E4;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

#footer {
    display: grid;
}